PyPDF2
pypdf
pymupdf
python-docx
pytesseract
beautifulsoup4
pillow
langchain_text_splitters
gdown
sentence-transformers
chromadb
langchain-chroma
numpy
jupyter
notebook
ipykernel
umap-learn
matplotlib
marimo
anywidget
langchain_openai
langchain_anthropic
boto3 
supabase 
tiktoken
awscli
langchain-community
fastapi
uvicorn
